<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="Auth_ConnectionString" connectionString="Database=DATAWAREHOUSEBG;Server=222.252.2.93;Port=9669;User Id=anhnd;Password="/>
	</connectionStrings>
</configuration> 